/* stripping styles */

body,
a,
p,
h1,
h2,
h3,
ul,
li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    width: 80%; 
    max-width: 1300px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* base styling */

img{
    width: 100%;
    display: block;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(../assets/image_from_ios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

// header styles

header{
    h1{
        @include primaryFont();
        @include fontSize(60);
        color: $primaryWhite;
    }
    h2{
        @include secondaryFont();
        @include fontSize(30);
        color: $accent;
    }
    @include centerFlex;
    text-align: center;
    padding: 5%;
}
// form styles
fieldset{
    @include secondaryFont();
    @include fontSize(20);
    border: 2px solid $accent;
    color: $primaryWhite;
}

// dynamic elements' styles
.closestObjFlex {
    padding-top: 5vh;
    h3 {
        color: $primaryWhite;
        @include fontSize(25);
    }
    ul {
        margin-top: 2vh;
        border-left: 2px solid $primaryWhite;
        border-right: 2px solid $primaryWhite;
        width: fit-content;

        // adding square brackets to each ul dynamically added to the webpage
        li:first-child::before,
        li:first-child::after,
        li:last-child::before,
        li:last-child::after {
            content: '';
            width: 2vw; 
        }
        li:first-child::before,
        li:first-child::after {
            border-top: 2px solid $primaryWhite;
        }
        li:first-child::after,
        li:last-child::after {
            float: right;
        }
        li:first-child::before,
        li:last-child::before {
            float: left;
        }
        li:last-child::before,
        li:last-child::after {
            border-bottom: 2px solid $primaryWhite;
            position: absolute;
            bottom: 0;
        }
        li:last-child::after {
            right: 0;
        }
        li:last-child::before {
            left: 0;
        }
        li:not(:first-child) {
            padding: 0 2vw;
        }
        li{
            @include secondaryFont();
            @include fontSize(20);
            color: $primaryWhite;
            position: relative;
        }
    } 
}

