/* stripping styles */

body,
a,
p,
h1,
h2,
h3,
ul,
li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    width: 80%; 
    max-width: 1300px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* base styling */

img{
    width: 100%;
    display: block;
}

html{
    font-size: 62.5%;
}

body{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.25), rgba(55, 42, 65, 0.7)), url(../assets/image_from_ios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

// header styles

header{
    h1{
        @include primaryFont();
        @include fontSize(60);
        color: $primaryWhite;
    }
    h2{
        @include secondaryFont();
        @include fontSize(20);
        color: $accent;
        text-transform: uppercase;

    }
    @include centerFlex;
    text-align: center;
    padding: 5%;
}

// main styles/alignment
.fieldsetFlex{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-gap: 30px;

}

// form styles

h3 {
    color: $primaryWhite;
    @include fontSize(25);
    @include primaryFont();
}

p{
    color: $accent;
    @include secondaryFont;
    @include fontSize(15);

}

.planetSearchTextBox,
.datesSearchTextBox{
    @include centerFlex;
    flex-direction: column;
}

fieldset{
    @include secondaryFont();
    @include fontSize(20);
    border: 2px solid $accent;
    color: $primaryWhite;
}
.datesSearchFlex {
    display: flex;
}
// dynamic elements' styles
.closestObjFlex {
    padding-top: 5%;
    position: relative;

    ul {
        // margin-top: 2vh;
        // border-left: 2px solid $primaryWhite;
        // border-right: 2px solid $primaryWhite;
        
        width: fit-content;
            li{
                padding: 2%;
            }

        // // adding square brackets to each ul dynamically added to the webpage
        // li:first-child::before,
        // li:first-child::after,
        // li:last-child::before,
        // li:last-child::after {
        //     content: '';
        //     width: 2vw; 
        // }
        // li:first-child::before,
        // li:first-child::after {
        //     border-top: 2px solid $primaryWhite;
        // }
        // li:first-child::after,
        // li:last-child::after {
        //     float: right;
        // }
        // li:first-child::before,
        // li:last-child::before {
        //     float: left;
        // }
        // li:last-child::before,
        // li:last-child::after {
        //     border-bottom: 2px solid $primaryWhite;
        //     position: absolute;
        //     bottom: 0;
        // }
        // li:last-child::after {
        //     right: 0;
        // }
        // li:last-child::before {
        //     left: 0;
        // }
        // li:not(:first-child) {
        //     padding: 0 2vw;
        // }
        li{
            @include secondaryFont();
            @include fontSize(20);
            color: $primaryWhite;
            position: relative;
        }
    } 
}

ul::after{
    position: absolute;
    content: '   ';
    width: 10%;
    height: 2%;
    background-color: $accent;
}

ul::before{
    position: absolute;
    content: '   ';
    width: 2%;
    height: 10%;
    background-color: $accent;
}

.submitButton {
    background: none;
    border: 4px solid $primaryWhite;
    @include secondaryFont();
    text-transform: uppercase;
    color: $primaryWhite;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.submitButton:hover,
.submitButton:focus {
    background-color: rgba(64, 224, 208, 0.5);
}

