// *****************variables*****************

// font
$primaryFont: 'Odibee Sans', cursive;
$secondaryFont:'Roboto', sans-serif;

$letterSpacing: 3px;

// color: Color Palette 169452
$accent: #40e0d0;
$primaryColor: rgb(55, 42, 65);
$primaryGrey: rgb(148, 145, 160);
$primaryBlack: rgb(51, 51, 51);
$primaryWhite: #f1fcfc;




// *****************mixins*****************

// font
@mixin fontSize($sizeValue){
    font-size: ($sizeValue/10) * 1rem;
}

@mixin primaryFont(){
	font-family: $primaryFont;
	text-transform: uppercase;
	letter-spacing: 10px;
}

@mixin secondaryFont(){
	font-family: $secondaryFont;
	letter-spacing: $letterSpacing;
}

// alignment and centering

@mixin centerFlex(){
	display: flex;
	justify-content: center;
	align-items: center;
}